a.btn {
  padding: .5rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;

  @media screen and (max-width: 575px){
    padding: .4rem 2rem;
    font-size: 1.2rem;
  }
}

button.btn-course {
  position: absolute;
  bottom: 27px;
  right: 27px;
  padding: 5px 24px;
  font-size: 14px;
  cursor: pointer;
}