h1, h2, h3, h4 {
  //font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

body {
  font-family: 'Lato', sans-serif;
}

//to level content due to fixed menu
div.wrap {
  margin-top: 150px;
}