#container-page-education {
  padding: 30px 0;

  #filters {
    margin-bottom: 30px;

    .btn-filter {
      margin-bottom: 10px;
    }

    button.is-checked {
      background-color: #a3a3a3;
      border: none;
    }
  }
}