section#container-exhibitions {
  .container-fluid, .row, .col-4 {
    margin: 0!important;
    padding: 0!important;
  }

  .exhibition {
    position: relative;
    padding: 0;

    h2 {
      position: absolute;
      bottom: 9%;
      left: 10%;
      color: #fff;
      text-transform: capitalize;
      text-shadow: 3px 3px 5px rgba(34, 34, 34, 0.82);
    }
  }
}