/* *** Hero Section *** */

#container-hero {
  .container-fluid {
    padding: 0;

    .hero {

      .owl-item {
        width: 100%;
        height: 50vh;

        @media screen and (max-width: 767px) {
          height: 14vh;
        }

        img {
          width: 100%;
          height: 50vh;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          @media screen and (max-width: 767px) {
            height: auto;
          }
        }
      }
    }
  }
}

/* *** Courses Section *** */


/* Common style */
.grid-milo {

  figure {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #3085a3;

    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }

    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &>a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      &::before, &::after {
        pointer-events: none;
      }

      h2 {
        word-spacing: 0;
        font-weight: 300;
        margin: 0;
        font-size: 1.2rem;

        span {
          font-weight: 800;
        }
      }

      p {
        margin: 0;
        letter-spacing: 0.3px;
        font-size: 65.5%;
      }
    }
  }
}

  /*---------------*/
  /***** Milo *****/
  /*---------------*/


figure.effect-milo {
  background: #2e5d5a;

  &:hover {
    img {
      opacity: 0.5;
      -webkit-transform: translate3d(0,0,0) scale(1);
      transform: translate3d(0,0,0) scale(1);
    }

    p {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }

  img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  h2 {
    position: absolute;
    right: 0;
    bottom: 36px;
    padding: 1em 1.2em;
  }

  p {
    padding: 0 10px 0 0;
    width: 108%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
  }
}

  /* *** Courses section *** */

  #container-courses {
    padding: 50px 0;
    background-color: #ebebeb;

    @media screen and (max-width: 575px) {
      padding: 10px 0 25px;
    }

    #btn-courses {
      margin-top: 30px;
      background-color: #b5b3a6;
      color: #fff;

      @media screen and (max-width: 575px) {
        margin-top: 10px;
      }
    }
  }


  /* *** Carousels servicios & Exhibiciones *** */

  section#carousels {
    .div-carousel {
      padding: 50px;
      color: #696969;

      @media screen and (max-width: 575px) {
        padding: 25px;
      }

      h1 {
        margin-bottom: 20px;
        padding-bottom: 8px;
        border-bottom: solid 1px darkgray;
      }

      &#div-exhibitions {
        background-color: #f0f8ff;

        h4 {
          margin-top: 15px;
        }

        #btn-exhibitions {
          margin-top: 20px;
          background-color: #b5b3a6;
          color: #fff;
        }
      }

      &#div-services {
        background-color: #f5f5f5;

        .owl-stage-outer {
          padding-bottom: 5px;
        }

        .div-text {
          background-color: #fff;
          border-radius: 20px;
          box-shadow: 3px 3px 15px 0px #d3d3d3;
          padding: 10px 30px;
        }

        img {
          margin: 35px 0 40px;
        }

        p {
          text-align: justify;
        }
      }
    }
  }


  /* *** Lo +Nuevo Section *** */

  #container-new {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url(../images/bg-new.jpg) no-repeat 100%;
    height: 350px;
    padding: 30px 0;

    @media screen and (max-width: 575px){
      height: auto;
    }

    h1 {
      color: #fff;
    }

    p {
      margin: 35px 0 60px;
      color: #fff;

      @media screen and (max-width: 767px) {
        text-align: justify;
      }
    }
  }

  /* *** Nosotros Section *** */

  #container-us {
    background: url("../images/bg-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media screen and (max-width: 991px) {
      background-position: center right;
    }

    #row-us {
      height: auto;

      #div-us-text {
        padding: 50px 0;
        text-align: center;

        @media screen and (max-width: 575px) {
          padding: 30px 20px;
        }

        h1 {
          text-transform: uppercase;
          margin-bottom: 40px;
          color: #dc3545;
        }

        p {
          text-align: justify;
          margin-bottom: 30px;
        }
      }
    }
  }
