footer {
  padding: 50px 0;
  background-color: dimgray;
  color: white;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 40px;
    }
  }

  #logo-white {
    margin-bottom: 25px;
  }

  #div-map {
    padding: 5px;
    border: solid 1px lightgray;
  }
}
